/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

/*Common fixes and styles*/
body{
    font-family: 'Open Sans',sans-serif;
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.col{
    float: left;
}

h1{
    font-size: 80px;
    /* padding-top: 80px; */
}

h2{
    font-size: 45px;
}

.small-font{
    font-size: 14px;
}

a.btn{
    text-decoration: none;
}

.small-container{
    width: 63%;
    margin: auto;
}

.large-container{
    width: 75%;
    margin: auto;
}

/*Common lengths*/
.half-width{
    width: 50%;
}

.full-width{
    width: 100%;
}

.half-height{
    height: 50%;
}

.full-height{
    height: 100%;
}

img{
    width: 100%;
}

/* Common positions */
.left-alignment{
    text-align: left;
}

.right-alignment{
    text-align: right;
}

/*Common buttons*/
.btn{
    line-height: normal;
    display: inline-block;
}

.small-btn{
    padding: 5px 20px; 
}

.blue-btn{
    background-color: #0061ff;
    color: white;
}

/* Hover */
.blue-btn:hover{
    filter: brightness(130%);
}

header a:hover:not(.btn){
    border-bottom: 2px solid black;
}


/* HEADER */

/* Common Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}

header nav{
    line-height: 6vh;
}

header li *{
    vertical-align: middle;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: auto 20px;    
}

header a{
    text-decoration: none;
    color: black;
    padding-bottom: 2vh;
}

/* Logo */
.small-logo{
    position: relative;
    bottom: 2px; /* height fix */
    width: 120px;
}


/* MAIN */

/* Top margin fix */
main{
    margin-top: 6vh;
}

/* Jumbotron */
.jumbotron-title{
    padding: 80px 0 40px;
}

.jumbotron{
    background-color: #b4d0e7;
}

.left-jumbo-col{
    width: 40%;
}

.right-jumbo-col{
    width: 60%;
}

.right-jumbo-col img{
    position: relative;
    z-index: 2;
}

.left-jumbo-col p{
    width: 75%;
}

.left-jumbo-col a{
    margin: 30px 0 10px;
}

.jumbotron i{
    font-size: 40px;
    margin-top: 50px;
}

.jumbo-content{
    position: relative;
}

/* Box for jumbotron image effect */
.white-box{
    position: absolute;
    height: 120px;
    bottom: 0;
    left: 0;
    background-color: white;
}

/* Business plan section */
.business-plan{
    margin-top: 200px;
    height: 1000px;   
}

/* Radio boxes */
.radio-row{
    margin-top: 70px;
}

.yearly-billing{
    margin-left: 15px;
}

.business-plan input{
    opacity: 0;
    width: 0;
    height: 0;
} /* To hide default radio marks */

.radio-mark{
    border: 1px solid grey;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-left: -5px; 
    margin-top: -3px;  /* inline-block pixel fix */
    vertical-align: middle;
} /* Setting new radio mark */

.business-plan input:checked + .radio-mark{
    border: 5px solid #0061ff;
} /* Changes once radio mark is checked */





/* TEST */

/* div{
    border: 1px solid blue;
} 

.test-box{
    background-color: red;
    height: 500px;
    width: 100%;
}  */

