/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

/*Common fixes and styles*/
body{
    font-family: 'Open Sans',sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.grey-text{
    color: #637381;
    margin-top: 10px;
}

.col{
    float: left;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 45px;
}

h4{
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 37px;
}

h5{
    font-size: 18px;
}

.small-font{
    font-size: 14px;
}

a.btn{
    text-decoration: none;
}

.small-container{
    width: 63%;
    margin: auto;
}

.large-container{
    width: 75%;
    margin: auto;
}

.very-large-container{
    width: 85%;
    margin: 50px auto;
}

/*Common lengths*/
.half-width{
    width: 50%;
}

.full-width{
    width: 100%;
}

.half-height{
    height: 50%;
}

.full-height{
    height: 100%;
}

img{
    width: 100%;
}

/* Common positions */
.left-alignment{
    text-align: left;
}

.right-alignment{
    text-align: right;
}

/*Common buttons*/
.btn{
    line-height: normal;
    display: inline-block;
}

.small-btn{
    padding: 8px 20px; 
}

.large-btn{
    padding: 8px 40px;
}

.largest-btn{
    padding: 8px 80px;
}

.blue-btn{
    background-color: #0061ff;
    color: white;
}

.white-btn{
    border: 1px solid black;
    color: black;
}

/* Hover */
.btn:hover, .purchase-link:hover{
    filter: brightness(130%);
}

header a:hover:not(.btn) + .underline-box{
    background-color: black;
}

/* HEADER */

/* Common Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    z-index: 10;
}

header nav{
    line-height: 6vh;
}

header li *{
    vertical-align: middle;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: auto 20px;
}

header a{
    text-decoration: none;
    color: black;
}

.underline-box{
    background-color: white;
    height: 2px;
}   /* Method to make it work in any browser */

/* Logo */
.small-logo{
    position: relative;
    bottom: 2px; /* height fix */
    width: 120px;
}


/* MAIN */

/* Top margin fix */
main{
    margin-top: 6vh;
}

/* Jumbotron */
.jumbotron-title{
    padding: 80px 0 40px;
}

.jumbotron{
    background-color: #b4d0e7;
}

.left-jumbo-col{
    width: 40%;
}

.right-jumbo-col{
    width: 60%;
}

.right-jumbo-col img{
    position: relative;
    z-index: 2;
}

.left-jumbo-col p{
    width: 75%;
}

.left-jumbo-col a{
    margin: 30px 0 10px;
}

.jumbotron i{
    font-size: 40px;
    margin-top: 50px;
}

.jumbo-content{
    position: relative;
}

/* Box for jumbotron image effect */
.white-box{
    position: absolute;
    height: 120px;
    bottom: 0;
    left: 0;
    background-color: white;
}

/* Business plan section */
.business-plan{
    margin-top: 200px;
    
}

/* Radio boxes */
.radio-row{
    margin-top: 70px;
}

.yearly-billing{
    margin-left: 15px;
}

.business-plan input{
    opacity: 0;
    width: 0;
    height: 0;
} /* To hide default radio marks */

.radio-mark{
    border: 1px solid grey;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-left: -4px; 
    margin-top: -4px;  /* inline-block 4 pixel fix */
    vertical-align: middle;
} /* Setting new radio mark */

.business-plan .radio-mark:hover{
    cursor: pointer;
}

.business-plan input:checked + .radio-mark{
    border: 5px solid #0061ff;
} /* Border once radio mark is checked */

/* Business columns */
.business-cols-container{
    margin-top: 50px;
}

.business-cols-container .last-row li:last-child{
    margin-bottom: 200px;
}

.business-cols-container .business-col:first-child .last-row li:last-child{
    margin-bottom: 250px; /* Different bottom margin fix (first col has one less 50px li) */
}

.business-cols-container .col:nth-child(2):not(.right-list-col), .operations-section .clearfix .col:nth-child(2){
    margin: 0 5%;
}

.business-col{
    height: 100%;
    border: 1px solid grey;
}

.business-col, .operations-section .col{
    width: calc((100% / 3) - (10% / 3));
}

.business-col .business-row:first-child, .enterprise-container .business-row:first-child{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid grey;
    text-align: center;
    line-height: normal;
}

.business-col .business-row:first-child *, .enterprise-container .business-row:first-child *{
    line-height: 50px;
}

.price{
    font-weight: bold;
}

.business-list{
    list-style-type: none;
}

.business-list li{
    height: 50px;
}

/* New line under pen icon fix */
.left-list-col{
    width: 5%;
}

.right-list-col{
    width: 93%;
    margin-left: 2%;
}

.trial{
    text-align: center;
    margin-bottom: 10px;
}

.trial .btn{
    width: 100%;
}

.purchase-link, .teams-section a{
    color: #0061ff;
}

.purchase{
    margin-top: 35px;
}

.grey-bottom-border{
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}

.highlights{
    margin: 80px 0 30px;
}

.fa-check{
    color: #0061ff;
}

/* Lower business plan section */
.enterprise-container{
    margin-top: 60px;
    border: 1px solid grey;
}

.enterprise-container .clearfix{
    width: 95.5%;
    margin: 35px auto;
}

.enterprise-left-col{
    width: 70%;
}

.enterprise-right-col{
    width: 30%;
    text-align: right;
}

.enterprise-container p{
    margin-top: 35px;
}

/* Partner section */
.partner-section{
    margin: 200px auto 170px;
}

.partner-left-col{
    width: 55%;
}

.partner-right-col{
    margin-left: 2%;
    width: 43%;
}

.partner-right-col h4{
    margin: 80px 0;
}

.partner-right-col p{
    margin-bottom: 80px;
}

/* Operations section */
.operations-section .clearfix{
    margin: 80px 0 100px;
}

.grey-underline{
    text-decoration: underline grey;
}

/* Teams section */
.teams-section{
    margin-top: 300px;
}

.teams-section h2{
    margin-bottom: 30px;
}

.teams-section .clearfix{
    margin-top: 60px;
}

.teams-section .clearfix .col:not(:nth-child(3)){
    width: 17.5%;
    height: 50vh;
}

.teams-section .clearfix .col:nth-child(3){
    width: 26%;
    height: 50vh;
    margin: auto 2%;
}

/* Teams section backgrounds */
.teams-row:not(#central-box .teams-row){
    position: relative;
}

.teams-row img:not(#central-box img){
    position: absolute; 
    filter: invert(1);
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#designit-box{
    background-color: #a2d39b;
    border: 1vh solid #d0e9cd;
}

#florida-box{
    background-color: #0093ce;
}

#asu-box{
    background-color: #61082b;
}

#topps-box{
    background-color: #ff1c1c;
}

#central-box{
    background-color: #f5f5f5;
}

#wbr-box{
    background-color: #d5001f;
}

#planet-box{
    background-color: #0d2481;
}

#hearst-box{
    background-color: #b4d0e7;
}

#cco-box{
    background-color: #ffd830;
}

#central-box img{
    width: 25%;
    margin: 7vh 0 9vh;
}

#central-box p{
    margin-bottom: 7vh;
}

/* TEST */

 /* div{
    border: 1px solid blue;
}   */

.test-box{
    background-color: red;
    height: 500px;
    
}      

.teams-section .small-container{

}

.teams-section .col, .teams-section .teams-row{
   
}

.teams-section .teams-row{
    height: 50%;
}